.container {
  display: flex;
  gap: 1rem;
}

.logo {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
}

.gitHub {
  width: 1.7rem;
  height: 1.7rem;
}

.x {
  width: 1rem;
  height: 1rem;
  background: #000;
  border-radius: 9999px;
  padding: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .container {
    gap: 0.25rem;
  }

  .logo {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
  }

  .gitHub {
    width: 1.45rem;
    height: 1.45rem;
  }

  .x {
    width: 0.75rem;
    height: 0.75rem;
  }
}
