.container {
  width: 100%;
  height: 100%;

  padding: 1.5rem;
  box-sizing: border-box;
  background: var(--card);
  border: 1px solid var(--border);

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  border-radius: 0.5rem;

  overflow: wrap;
  white-space: pre-wrap;
  word-break: break-word;

  color: var(--foreground);
}
