.container {
  text-decoration: none !important;

  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.container:hover {
  background-color: var(--muted);
}

.title {
  margin: 0;
  font-size: 1rem;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.timeline {
  font-size: 0.75rem;
  color: var(--muted-foreground);
}
