.container {
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--background);
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.company {
  font-weight: 600;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: normal;
  color: var(--foreground);
}

.period {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--muted-foreground);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.role {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--primary);
}

.description {
  font-size: 0.875rem;
  line-height: 1.625;
  color: var(--muted-foreground);
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: normal;
}

@media (max-width: 640px) {
  .container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .header {
    flex-direction: column;
    gap: 0.2rem;
  }

  .period {
    font-size: 10px;
  }

  .role {
    font-size: 0.75rem;
  }

  .description {
    font-size: 0.75rem;
  }
}
