.container {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;
  background: var(--card);
  border: 1px solid var(--border);
  padding: 4px 8px;
  font-size: 0.75rem;
  gap: 0.5rem;
  color: var(--secondary-foreground);

  width: fit-content;

  cursor: pointer;
}

.container:hover {
  background: var(--primary-hover);
  color: var(--foreground);
}

.image {
  width: 1rem;
  height: 1rem;
  margin: 0;

  background: transparent;
}
