.container {
  display: flex;
  align-items: center;
  width: fit-content;
  background: var(--primary);
  color: var(--primary-foreground);
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.container:hover {
  background: var(--primary-hover);
}

.open {
  border: rgb(147, 197, 253) 2px solid;
}
