.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem 0;
}

.title {
  color: var(--foreground);
  font-size: 1.875rem;
  font-weight: 700;

  margin: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 0.5rem;
  }
}
