.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: fit-content;

  max-width: 400px;

  border-radius: 8px;

  text-decoration: none;

  border-radius: 8px;
  border: 1px solid var(--border);
  background: var(--card);
  height: 100%;
  color: var(--card-foreground);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.image {
  flex-shrink: 0;
  aspect-ratio: 16/ 9;

  max-width: 12rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body {
  flex-direction: column;
  flex: 1;
  display: flex;
  min-width: 0;
}

.content {
  flex: 1;
  padding: 0.75rem;
  min-width: 0;
  width: 100%;
}

.tags {
  flex-wrap: wrap;
  gap: 0.5rem;
  display: flex;
  margin-bottom: 0.5rem;
}

.title {
  text-wrap: balance;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.375;
  transition: color 0.2s ease-in-out;
  display: -webkit-box;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.excerpt {
  color: var(--muted-foreground);
  font-size: 0.875rem;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.footer {
  border-top: 1px solid var(--border);
  color: var(--muted-foreground);
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  display: flex;
  gap: 0.5rem;
}
