.container {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  border-radius: 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--background);

  padding: 0.75rem;

  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--foreground);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.logo {
  flex-shrink: 0;
  width: fit-content;
  height: 1.5rem;
}

.type {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (max-width: 600px) {
  .container {
    padding: 0.25rem;
    gap: 0.5rem;
  }

  .type {
    font-size: 0.75rem;
  }
}

.experience {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--muted-foreground);
  margin: 0;
}
