.container {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;

  justify-content: space-between;

  background: var(--background);
  border-bottom: 2px solid var(--foreground);
  transition: background-color 0.2s;

  padding: 0 2rem;
  height: var(--header-height);
}

@media (max-width: 640px) {
  .container {
    padding: 0 1rem;
  }

  .contents {
    gap: 0.25rem;
  }

  .searchLink {
    width: 28px;
    height: 28px;
  }
}

.logo {
  cursor: pointer;
  text-decoration: none;
}

.contents {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  justify-content: center;
}

.searchLink {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  color: var(--foreground);
  transition: opacity 0.2s;
  cursor: pointer;
}

.searchLink:hover {
  opacity: 0.5;
}

.admin {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  color: var(--foreground);
  transition: opacity 0.2s;
  cursor: pointer;
}

.admin:hover {
  opacity: 0.5;
}

@media (max-width: 640px) {
  .admin {
    width: 28px;
    height: 28px;
  }
}
