.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 0.375rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--foreground);
  transition: background-color 0.2s;
  border-top: 1px solid var(--border);
  background: var(--background);
}

.container:hover {
  background: var(--muted);
}
