.container {
  border: 1px solid var(--border);
  padding: 0.1rem 0.25rem;
  font-size: 0.7rem;
  border-radius: 0.25rem;

  color: var(--muted-foreground);

  background: var(--muted-background);

  display: inline-flex;
}
