.container {
  width: 100%;
  height: 100%;

  object-fit: cover;

  padding: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: var(--border);
}
