.list {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
}

@media (max-width: 640px) {
  .items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.category {
  grid-column: 1 / -1;

  margin-top: 0;

  font-size: 0.875rem;
  line-height: 1.25rem;

  font-weight: 600;

  color: var(--muted-foreground);

  text-transform: uppercase;

  letter-spacing: 0.05em;
}
