NODE_ENV=development
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_FIREBASE_PROJECT_ID=demo-hut
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=demo-hut.appspot.com
READER_SITE_ORIGIN=http://localhost:3000
SERVER_ACTIONS_ALLOWED_ORIGINS=localhost:3000
READER_DISABLE_CLOUDFLARE_GUARD=true
FIREBASE_SERVICE_ACCOUNT_EMAIL=dummy@demo-hut.iam.gserviceaccount.com
FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nDUMMY\n-----END PRIVATE KEY-----\n"
