.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  margin: 0;
  color: var(--foreground);
}

@media (min-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}

.content {
  color: var(--muted-foreground);
  line-height: 1.625;
}

.content > * + * {
  margin-top: 1rem;
}

.list {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.list > * + * {
  margin-top: 0.5rem;
}
