.container {
  align-items: center;
  justify-content: center;
  display: inline-flex;

  border-radius: 8px;
  cursor: pointer;

  border: none;
  background: transparent;
  width: 36px;
  height: 36px;

  transition: background-color 0.2s;
}

.container:hover {
  background: var(--muted);
}

.dark {
  color: #fff;
}

.dark .container:hover {
  background: var(--accent);
}

@media (max-width: 640px) {
  .container {
    width: 28px;
    height: 28px;
  }
}
