.container {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: currentColor;
  color: var(--muted-foreground);
  transition: color 0.2s;
  mask-image: url("/icon/search-off.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("/icon/search-off.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

@media (max-width: 640px) {
  .container {
    width: 1rem;
    height: 1rem;
  }
}
