.container {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: var(--foreground);
}

.logo {
  display: flex;
  justify-content: center;
}
