.container {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 128px;
  height: 128px;
}

.text {
  color: var(--muted-foreground);
}
