.container {
  display: flex;

  height: 2rem;
  width: 2rem;

  align-items: center;
  justify-content: center;

  border-radius: 9999px;
  border-width: 1px;

  background-color: var(--background);
  border-color: var(--muted-foreground);

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
}

.container:hover {
  background-color: var(--muted);
  border-color: var(--foreground);
}

@media (max-width: 600px) {
  .container {
    height: 1.5rem;
    width: 1.5rem;
  }
}
