.container {
  position: absolute;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--card);
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-height: 40vh;
  overflow-y: scroll;
  scrollbar-width: none;
  opacity: 0;
  transform: translateY(-5%);
  transition: transform 150ms ease-in-out, opacity 100ms ease-in-out;
  pointer-events: none;
  right: 0px;
  min-width: 150px;
}

.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
