.container {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 3rem;
}

.content {
  width: 100%;
  max-width: 1120px;

  display: flex;
  flex-direction: row;
  gap: 2rem;

  justify-content: center;

  margin: 0 auto;

  padding-bottom: 3rem;
}

.sidebar {
  width: 300px;

  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: sticky;
  top: calc(var(--header-height) + 3rem);

  align-self: flex-start;
}

@media (max-width: 1023px) {
  .container {
    gap: 0;
    margin-top: 48px;
  }

  .content {
    display: block;
    padding: 0 0.5rem;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .sidebar {
    position: static;
    width: auto;
  }
}
