.container {
  width: 100%;
  display: flex;
}

.input {
  width: 50%;
  margin-right: 16px;
}

.textarea {
  width: 100%;
  height: 500px;
  border: 1px solid black;
  font-size: 14px;
  font-family: var(--font-monospace);
  resize: none;

  overflow: auto;
}

.preview {
  border: 1px solid black;
  height: 500px;
  width: 50%;
}

.markdown {
  font-size: 16px;
  line-height: 1.9;
  color: #1f2328;
  max-width: 720px;
  margin: 0 auto;
}

.markdown h1 {
  font-size: 2rem;
  margin: 2.2em 0 1em;
  font-weight: 700;
}

.markdown h2 {
  font-size: 1.6rem;
  margin: 2em 0 0.8em;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

.markdown h3 {
  font-size: 1.3rem;
  margin: 1.6em 0 0.6em;
}

.markdown p {
  margin: 1em 0;
}

.markdown ul,
.markdown ol {
  padding-left: 1.4em;
  margin: 1em 0;
}

.markdown li {
  margin: 0.4em 0;
}

.markdown blockquote {
  border-left: 4px solid #d0d7de;
  padding-left: 1em;
  color: #57606a;
  margin: 1.5em 0;
}

.markdown code {
  background: #f6f8fa;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
}

.markdown pre {
  background: #0d1117;
  color: #c9d1d9;
  padding: 1em;
  border-radius: 6px;
  overflow-x: auto;
  margin: 1.5em 0;
}

.markdown table {
  border-collapse: collapse;
  margin: 1.5em 0;
}

.markdown th,
.markdown td {
  border: 1px solid #d0d7de;
  padding: 0.6em 0.8em;
}
