.container {
  width: 100%;

  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content {
  display: flex;
  margin: 0 auto;

  gap: 24px;

  width: 100%;
  max-width: 1120px;
}

.entries {
  max-width: 900px;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar {
  width: 300px;

  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: sticky;
  top: calc(var(--header-height) + 24px);

  align-self: flex-start;
}

@media (max-width: 640px) {
  .content {
    flex-direction: column;
    padding: 0 16px;
    gap: 16px;
  }
}
