.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;

  padding: 0 1rem;

  flex: 0;

  box-sizing: border-box;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .content {
    padding: 0 0.5rem;
  }
}
