.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;

  gap: 12px;
}

.header {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-between;

  color: var(--foreground);
}

.icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
}

.input {
  width: 100%;
}

.selects {
  display: flex;
  gap: 8px;

  max-width: fit-content;
}

.tags {
  max-height: 110px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.new {
  color: var(--foreground);
}
