.container {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  background: var(--secondary);
  padding: 0.125rem 0.625rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--secondary-foreground);
}

@media (max-width: 600px) {
  .container {
    padding: 2px 4px;
    font-size: 8px;
  }
}
