.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;

  gap: 16px;
}

.input {
  width: 100%;
  max-width: 500px;

  min-height: 80px;

  border-radius: 8px;
}

.button {
  width: 100%;
  max-width: 300px;
}

.select {
  width: 100%;
  max-width: 300px;
}
